<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="zh-CN"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="zh-CN"><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>数据分析系统</title>
    <!-- start: META -->
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel='stylesheet' href='/resources/plugins/bootstrap-3.3.5/css/bootstrap.min.css'/>
    <!-- end: MAIN CSS -->
    <link rel="stylesheet" href="/resources/plugins/bootstrapValidator/css/bootstrapValidator.css"/>
    <link rel="shortcut icon" href="/resources/images/favicon.ico" />
</head>
<body>

<p th:replace="share/_header :: header"></p>
<div class="main-container">
    <div class="navbar-content">
        <p th:replace="common/_leftSideBar :: leftSideBar"></p>
    </div>
    <section layout:fragment="content"></section>
</div>

<p th:replace="share/_footer :: footer"></p>


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/resources/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<script src="/resources/plugins/bootstrap-3.3.5/js/bootstrap.js"></script>
<script>
</script>
<section layout:fragment="script"></section>
</body>
</html>