<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base/layout">

<head>
    <title>菜单管理</title>
    <link rel="stylesheet" href="/resources/plugins/zTree/zTreeStyle.css"/>
</head>
<body>
<div layout:fragment="content" >
    <!-- page content -->
    <div class="right_col" role="main">


        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>菜单管理</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <ul id="navigationTree" class="ztree nav nav-pills nav-stacked"></ul>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>增加主菜单</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form  data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentGuid">父菜单</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" id="parentGuid" name="parentGuid">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menuName">名称</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="menuName" name="menuName" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="resourceGuid">资源</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" id="resourceGuid" name="resourceGuid">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="menuIndex" class="control-label col-md-3 col-sm-3 col-xs-12">顺序</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="menuIndex" name="menuIndex" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="iconClass" class="control-label col-md-3 col-sm-3 col-xs-12">图标</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="iconClass" name="iconClass" class="form-control col-md-7 col-xs-12" type="text" >
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button id="button_addMenu" class="btn btn-success">提交</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
</div>

</body>

<div layout:fragment="script">
    <script src="/resources/plugins/zTree/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">

        //------zTree数据
        $(function () {
            $.fn.zTree.init($("#navigationTree"), setting);

            MessengerAjaxGet("/menu/getMainMenus", null, function(data){
                InitMainMenusSelect(data);
            });

            MessengerAjaxGet("/resource/getAllResources", null, function(data){
                InitResourcesSelect(data);
            });


        });

        var setting = {
            view: {
                showIcon: showIconForTree,
                showLine: false
            },
            data: {
                key: {
                    name: "menuName"
                },
                simpleData: {
                    enable: true,
                    idKey: "guid",
                    pIdKey: "parentGuid",
                    rootPId: 0
                }
            },
            async: {
                enable: true,
                url: "/menu/getAllMenus",
                type: "get"
            },
            callback: {
                onAsyncSuccess: zTreeOnAsyncSuccess
            }
        };

        function showIconForTree(treeId, treeNode) {
            return !treeNode.isParent;
        }

        function zTreeOnAsyncSuccess(event, treeId, msg) {
            var zTree = $.fn.zTree.getZTreeObj(treeId);
            zTree.expandAll(true);

            var nodes = zTree.getNodes();
//            InitNavigationListSelect(nodes);
        }

        function InitMainMenusSelect(mainMenus) {
            $('#parentGuid').empty();
            $('#parentGuid').append("<option value=''></option>");
            for (var i = 0; i < mainMenus.length; ++i) {
                $('#parentGuid').append('<option value="' + mainMenus[i].guid + '">' + mainMenus[i].menuName + '</option>');
            }
        }

        function InitResourcesSelect(resources) {

            $('#resourceGuid').empty();
            $('#resourceGuid').append("<option value=''></option>");
            for (var j = 0; j < resources.length; ++j) {
                $('#resourceGuid').append('<option value="' + resources[j].guid + '">' +
                        '(' + resources[j].description + ')'+
                        resources[j].resource
                        + '</option>');
            }
        }


        $("#button_addMenu").click(function(){

            var parentGuid = $("#parentGuid").val();
            var resourceGuid = $("#resourceGuid").val();
            var menuName = $("#menuName").val();
            var menuIndex = $("#menuIndex").val();
            var iconClass = $("#iconClass").val();

            var menuVo = {
                parentGuid:parentGuid,
                resourceGuid:resourceGuid,
                menuName:menuName,
                menuIndex:menuIndex,
                iconClass:iconClass
            };//拼装成json格式

            $.ajax({
                type:"POST",
                url:"/menu/addMenu",
                data:menuVo,
            });
        });
    </script>

</div>
</html>