<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base/layout">

<head>
    <title>数据挖掘</title>
    <link rel="stylesheet" href="/resources/plugins/zTree/zTreeStyle.css"/>
</head>
<body>
<div layout:fragment="content" >
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>数据挖掘</h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /page content -->
</div>

</body>

<div layout:fragment="script">

</div>
</html>