<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- start: TOP NAVIGATION CONTAINER -->
    <div th:fragment="menu" class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>数据分析引擎</span></a>
            </div>

            <!-- system profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="/resources/images/img.jpg" alt="..." class="img-circle profile_img"/>
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>Allen</h2>
                </div>
            </div>
            <!-- /system profile quick info -->

            <br />

            <!-- sidebar system -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>业务</h3>
                    <ul class="nav side-menu">
                        <!--/*@thymesVar id="menuList" type=""*/-->
                        <li th:each="parentNode:${menuList}" th:if="${parentNode.parentGuid == '' and parentNode.menuType == 0}">
                            <a>
                                <i th:class="${parentNode.iconClass}"></i>
                                <span th:text="${parentNode.menuName}"></span>
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <li th:each="childNode : ${menuList}" th:if="${childNode.parentGuid eq parentNode.guid}">
                                    <a th:href="${childNode.resource}">
                                        <span th:text="${childNode.menuName}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu_section">
                    <h3>数据</h3>
                    <ul class="nav side-menu">
                        <!--/*@thymesVar id="menuList" type=""*/-->
                        <li th:each="parentNode:${menuList}" th:if="${parentNode.parentGuid == '' and parentNode.menuType == 1}" >
                            <a>
                                <i th:class="${parentNode.iconClass}"></i>
                                <span th:text="${parentNode.menuName}"></span>
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <li th:each="childNode : ${menuList}" th:if="${childNode.parentGuid eq parentNode.guid}">
                                    <a th:href="${childNode.resource}">
                                        <span th:text="${childNode.menuName}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu_section">
                    <h3>管理</h3>
                    <ul class="nav side-menu">
                        <!--/*@thymesVar id="menuList" type=""*/-->
                        <li th:each="parentNode:${menuList}" th:if="${parentNode.parentGuid == '' and parentNode.menuType == 2}" >
                            <a>
                                <i th:class="${parentNode.iconClass}"></i>
                                <span th:text="${parentNode.menuName}"></span>
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <li th:each="childNode : ${menuList}" th:if="${childNode.parentGuid eq parentNode.guid}">
                                    <a th:href="${childNode.resource}">
                                        <span th:text="${childNode.menuName}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar system -->
            <!-- /system footer buttons -->
        </div>
    </div>
    <!-- end: HEADER -->
</html>